@charset "utf-8";
/* CSS Document */
/* Coded by Wello6143 */
@import url('https://fonts.googleapis.com/css?family=Cabin');
html, body{
	height: 100%;
	margin:  0 0 0 0;
}
html, form{
	font-family: "Cabin", sans-serif;
}
.nav-link{
	color: #FFF;
}
.bg-pur{
	background-color: #8200fa;
	color:  #fff;
	margin: 0px 0px 0px 0px;
}
.text-logo{
	color: #8c8c8c;
}
img{
	height: 30px;
	width: 30px;
	vertical-align: middle;
}
.category{
	margin: 30px auto;
	font-size: 30px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}
.message{
	font-size: 30px;
	color: #fff;
	top: 50%;
	bottom: 50%;
	text-align: center;
}
.message-bl{
	color: black;
	text-align: center;
}
.container-fix{
	width: 100%;
	height: 9%;
}
.logo{
	height: 50px;
	width: 50px;
}
.fix{
	padding: none;
	height: 92.5%;
}
.third{
	width: 30%;
	float: right;
}
.twothird{
	width: 70%;
	float: left;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	height: 7.5%;
    background-color: white;
}
.disabled{
	pointer-events: none;
	cursor: default;
}
a{
	text-decoration: none;
	color: #8c8c8c;
	margin: 0px 10px 0px 10px;
}
.footer-a{
	text-align: center;
}
.forgot-reg{
	font-size: 15px;
	color: #8200fa;
	margin: auto 10px;
}
.forgot{
	float: right;
}
.reg{
	float: left;
}
li{
	list-style-type: none;
	margin: 20px auto;
	font-size: 25px;
	text-align: center;

}
/* Sign in form */
.form button{
  text-transform: uppercase;
  outline: 0;
  background: #8200fa;
  width: 85%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin: 10px 20px;
  font-family: "Cabin", sans-serif;
}
.form button:hover,.form button:active,.form button:focus{
  background: #8200fa;
}
.form input{
  align-content: center;
  outline: 0;
  background: #f2f2f2;
  width: 85%;
  border: 0;
  margin: 10px 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Cabin", sans-serif;
}
input[type=text],input[type=password], textarea{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #FFFFFF;
}
input[type=text]:focus,input[type=password]:focus, textarea:focus{
  box-shadow: 0 0 5px #8200fa;
  border: 1px solid #8200fa;
}
