@charset "utf-8";
/* CSS Document */
/* This CSS doc. used as both register page and log in page */
/* Also this CSS copied some lines from FreeFrontEnd and W3School, which I always thanks a lot */
@import url('https://fonts.googleapis.com/css?family=Cabin');
.account-page{
  width: 340px;
  padding: 0 0 0;
  margin: 10px auto;
}
img{
	vertical-align: middle;
	height: 15px;
	width: 50px;
}
.form{
  font-family: 'Cabin', sans-serif;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 320px;
  margin: 5px auto auto auto;
  padding: 45px;
  text-align: left;
  color: #8c8c8c;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input{
  font-family: 'Cabin', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button{
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #8200fa;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus{
  background: #8200fa;
}
.form .subtitle{
	text-align:left;
	margin: 10px 0 10px;
    color: #8c8c8c;
    font-size:14px;
}
.form .message{
  margin: 10px auto 10px;
  color: #8c8c8c;
  font-size:15px;
  text-align: center;
}
.form .message a{
  color: #8200fa;
  text-decoration:none;
}
.form .register-form{
  display: none;
}
.container{
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after{
  content: "";
  display: block;
  clear: both;
}
.container .info{
  margin: 50px auto;
  text-align: center;
}
.container .info h1{
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span{
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a{
  color: #000000;
  text-decoration: none;
}
.container .info span .fa{
  color: #EF3B3A;
}
body{
  background: #8200fa;
  background: -webkit-linear-gradient(right, #8200fa, #821efa);
  background: -moz-linear-gradient(right, #8200fa, #821efa);
  background: -o-linear-gradient(right, #8200fa, #821efa);
  background: linear-gradient(to left, #8200fa, #821efa);
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
input[type=text],input[type=password], textarea{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #FFFFFF;
}
 
input[type=text]:focus,input[type=password]:focus, textarea:focus{
  box-shadow: 0 0 5px #8200fa;
  border: 1px solid #8200fa;
}
